<#escape x as (x)!> <#assign
base=springMacroRequestContext.getContextUrl("")>
<!DOCTYPE html>
<html lang="zh_CN">
<head>
<meta charset="utf-8">
<title>详细信息-接口管理系统-冰迪网络(出品)</title>
<link href="${base}/less/bootstrap.less" rel="stylesheet/less"
	type="text/less" />
<script src="${base}/js/less-1.3.0.min.js"></script>
<link href="${base}/less/bootstrap-responsive.css" rel="stylesheet"
	type="text/css" />
<link href="${base}/less/docs.css" rel="stylesheet" type="text/css" />
</head>
<body data-spy="scroll" data-target=".bs-docs-sidebar">

	<!-- Navbar ================================================== -->
	<div class="navbar navbar-inverse navbar-fixed-top">
		<div class="navbar-inner">
			<div class="container">
				<button type="button" class="btn btn-navbar" data-toggle="collapse"
					data-target=".nav-collapse">
					<span class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<a class="brand" href="http://www.love320.com">Love320.com</a>
				<div class="nav-collapse collapse">
					<ul class="nav">
						<li class=""><a href="http://www.love320.com">Home</a>
						</li> <#list listgroup as xx>
						<li class=""><a href="${base}/interface-list.do?id=${xx.id}">${xx.name}</a>
						</li> </#list>
					</ul>
				</div>
			</div>
		</div>
	</div>


	<!-- Docs nav ================================================== -->
	<div class="container">
		<div class="row">
			<div class="span3 bs-docs-sidebar">
				<ul class="nav nav-list bs-docs-sidenav">
					<li><a href="#romdataA"><i class="icon-chevron-right"></i>基本信息</a>
					</li>
					<li><a href="#romdataB"><i class="icon-chevron-right"></i>附加信息</a>
					</li>
					<li><a href="#romdataC"><i class="icon-chevron-right"></i>输入参数</a>
					</li>
					<li><a href="#romdataD"><i class="icon-chevron-right"></i>返回参数</a>
					</li>
				</ul>
			</div>

			<div class="span9">
			<div class="bs-docs-example ">
				<form class="form-horizontal" action="${base}/interface-save.do"   method="post">
				<input type="hidden" name="id" value="${entity.id}" />
				<input type="hidden" name="groupid" value="${entity.groupid}" />
					<legend>基本信息</legend>
					<section id="romdataA">
						<div class="control-group">
							<label class="control-label" for="inputText">接口名</label>
							<div class="controls">
								<input type="text" id="name" name="name" value="${entity.name}" placeholder="接口名">
							</div>
						</div>
						<div class="control-group">
							<label class="control-label" >接口类型</label>
							<div class="controls">
								<select name="type" id="type">
								  <option value="1"  <#if entity.type == 1>selected</#if>>HTTP</option>
								  <option value="2"  <#if entity.type == 2>selected</#if>>其它</option>
								</select>
							</div>
						</div>
						<div class="control-group">
							<label class="control-label" >接口状态</label>
							<div class="controls">
								<select name="status" id="status">
								  <option value="1" <#if entity.status == 1>selected</#if>>准备</option>
								  <option value="2" <#if entity.status == 2>selected</#if>>编码</option>
								  <option value="3" <#if entity.status == 3>selected</#if>>调试</option>
								  <option value="4" <#if entity.status == 4>selected</#if>>测试</option>
								  <option value="5" <#if entity.status == 5>selected</#if>>稳定</option>
								</select>
							</div>
						</div>
						<div class="control-group">
							<label class="control-label" for="inputText">请求方法</label>
							<div class="controls">
								<select name="method" id="method">
								  <option value="1" <#if entity.method == 1>selected</#if>>所有</option>
								  <option value="2" <#if entity.method == 2>selected</#if>>POST</option>
								  <option value="3" <#if entity.method == 3>selected</#if>>GET</option>
								</select>
							</div>
						</div>
						<div class="control-group">
							<label class="control-label" for="inputText">接口地址串</label>
							<div class="controls">
								<input type="text" id="faceurl" name="faceurl" value="${entity.faceurl}" placeholder="接口地址串" >
							</div>
						</div>
					</section>
					<legend>附加信息</legend>
					<section id="romdataB">
						<div class="control-group">
							<label class="control-label" for="inputText">接口完整地址串</label>
							<div class="controls">
								<input type="text" id="url" name="url" value="${entity.url}" placeholder="接口完整地址串" >
							</div>
						</div>
						<div class="control-group">
							<label class="control-label" for="inputText">撰写者</label>
							<div class="controls">
								<input type="text" name="writers"  id="writers" value="${entity.writers}" placeholder="撰写者">
							</div>
						</div>
						<div class="control-group">
							<label class="control-label" for="inputText">接口版本</label>
							<div class="controls">
								<input type="text" name="version" id="version" value="${entity.version}" placeholder="1.01" >
							</div>
						</div>
						<div class="control-group">
							<label class="control-label" >接口说明</label>
							<div class="controls">
								<textarea name="text" id="text" rows="3">${entity.text}</textarea>
							</div>
						</div>
						<div class="control-group">
							<label class="control-label" for="inputText">返回格式说明</label>
							<div class="controls">
								<textarea name="returntext" id="returntext" rows="3">${entity.returntext}</textarea>
							</div>
						</div>
					</section>
					<button class="btn btn-large btn-block btn-primary"  type="submit">保存</button>
					<!-- Button to trigger modal -->
				    <a href="#myModal" role="button" class="btn btn-large btn-block" data-toggle="modal">删除</a>					
				</form>
				
				<!-- Modal -->
				<div  id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
				  <div class="modal-header">
				    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
				    <h3 id="myModalLabel">确定删除操作</h3>
				  </div>
				  <div class="modal-body">
				    <p>您确认删除<code>${entity.name}</code><i class="icon-remove"></i></p>
				  </div>
				  <div class="modal-footer">
				    <button class="btn" data-dismiss="modal" aria-hidden="true">关闭</button>
				    <a href="${base}/interface-delete.do?id=${entity.id}&groupid=${entity.groupid}" class="btn btn-primary"  title="删除">删除</a>
				  </div>
				</div>
				
				<section id="romdataC">
					<legend><h3 id="emphasis">输入参数</h3></legend>
					<input type="hidden" name="faceid" id="faceid" value="${entity.id}" />
					<input type="hidden" name="parasaveurl" id="parasaveurl" value="${base}/parameter-save.do" />
					<input type="hidden" name="paradeleteurl" id="paradeleteurl" value="${base}/parameter-delete.do" />
					<input type="hidden" name="paralisturl"  id="paralisturl"  value="${base}/parameter-list.do" />
					
					<div style="display:none">
						<textarea id="Template-Items" rows="0" cols="0"><!--
						{#foreach $T.Lists as Item}
						<div class="controls">
						<input type="hidden" name="paraid" id="paraid" value="{$T.Item.id}" />
						<input type="hidden" name="superior" id="superior" value="{$T.Item.superior}" />
						<input type="hidden" name="species" id="species" value="{$T.Item.species}" />
						{#for index = 1 to $T.Item.level}<i class="icon-minus"></i>{#/for}  
						<select name="type" id="type"  class="span2" >
								  <option value="1" {#if $T.Item.type == 1} selected {#/if}  >整形</option>
								  <option value="2"  {#if $T.Item.type == 2} selected {#/if} >浮点</option>
								  <option value="3"  {#if $T.Item.type == 3} selected {#/if}  >字符串</option>
						</select>
						 <select name="isnull" id="isnull"  class="span2" >
								  <option value="1" {#if $T.Item.isnull == 1} selected {#/if} >可为空</option>
								  <option value="2" {#if $T.Item.isnull == 2} selected {#/if} >必需填</option>
						</select>
					  <input class="span2" type="text" name="name" id="name" value="{$T.Item.name}" placeholder="字段名称">
					  <input class="span2" type="text" name="nametext" id="nametext" value="{$T.Item.nametext}"  placeholder="含义">
					  <p>
						  <button class="btn btn-primary" type="button" data-loading-text="处理中..." onclick="btnAction(this);">更新</button>
						  <button class="btn btn-danger" onclick="parameterDelete(this);" type="button">删除</button>
						  <button class="btn" type="button" onclick="parameterAddchild(this);">添加子级</button>
					  </p>
					</div>
					{#/for}
					--></textarea>
					 
					 <div class="controls" id="Template-ItemsAdd">
					 <input type="hidden" name="paraid" id="paraid" value="0" />
					 <input type="hidden" name="superior" id="superior" value="0" />
					 <input type="hidden" name="species" id="species" value="0" />
						<select name="type" id="type"  class="span2" >
								  <option value="1" selected >整形</option>
								  <option value="2">浮点</option>
								  <option value="3" >字符串</option>
						</select>
						 <select name="isnull" id="isnull"  class="span2" >
								  <option value="1" selected>可为空</option>
								  <option value="2" >必需填</option>
						</select>
					  <input class="span2" type="text" name="name" id="name" placeholder="字段名称">
					  <input class="span2" type="text" name="nametext" id="nametext"   placeholder="含义">
					  <p>
						  <button class="btn btn-primary" type="button" data-loading-text="处理中..." onclick="btnAction(this);">新增</button>
						  <button class="btn btn-danger" onclick="parameterDelete(this);" type="button" style="display: none;">删除</button>
						  <button class="btn" type="button" onclick="parameterAddchild(this);" style="display: none;">添加子级</button>
					  </p>
					</div>
					 
					 </div>
					
					<div id="paradiv"></div>
					<button class="btn" type="button" onclick="parameterAdd(this,1);">添加</button>
				</section>	
				
				<br/>
				<section id="romdataD">	
					<legend><h3 id="emphasis">返回参数</h3></legend>
					<div id="paraReturndiv"></div>	
					<button class="btn" type="button" onclick="parameterAdd(this,2);">添加</button>
				</section>
				
          		</div>
			</div>
		</div>
	</div>


	<!-- Le javascript
    ================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
	<script src="${base}/js/jquery.js"></script>
	<script src="${base}/js/jquery-jtemplates.js"></script>
	<script src="${base}/js/bootstrap-transition.js"></script>
	<script src="${base}/js/bootstrap-alert.js"></script>
	<script src="${base}/js/bootstrap-modal.js"></script>
	<script src="${base}/js/bootstrap-dropdown.js"></script>
	<script src="${base}/js/bootstrap-scrollspy.js"></script>
	<script src="${base}/js/bootstrap-tab.js"></script>
	<script src="${base}/js/bootstrap-tooltip.js"></script>
	<script src="${base}/js/bootstrap-popover.js"></script>
	<script src="${base}/js/bootstrap-button.js"></script>
	<script src="${base}/js/bootstrap-collapse.js"></script>
	<script src="${base}/js/bootstrap-carousel.js"></script>
	<script src="${base}/js/bootstrap-typeahead.js"></script>
	<script src="${base}/js/bootstrap-affix.js"></script>
	<script src="${base}/js/application.js"></script>
	<script src="${base}/js/google-code-prettify/prettify.js"></script>
	<script src="${base}/js/love320/love320.js"></script>
</body>
</html>
</#escape>
